{
  "extends": "airbnb",
    "env": {
      "browser" : true,
      "node"    : true,
      "es6"     : true,
      "mocha"   : true
    },
      "ecmaFeatures": {
        "modules" : true
    },
    "globals" : {
      "angular"  : true,
      "_"        : true,
      "$"        : true,
      "ons"      : true,
      "google"   : true,
      "NCMB"     : true,
      "ncmb"     : true,
      "app"      : true,
      "React"    : true,
      "ReactDOM" : true
    },
    "rules": {
      "strict"                          : 0,
      "no-console"                      : 0,
      "prefer-const"                    : 0,
      "react/react-in-jsx-scope"        : 0,
      "react/prefer-es6-class"          : 0,
      "react/prefer-stateless-function" : 0,
      "comma-dangle"                    : 0,
      "no-multi-spaces"                 : 0,
      "no-underscore-dangle"            : 0,
      "arrow-body-style"                : 0,
      "spaced-comment"                  : 0,
      "no-param-reassign"               : 0,
      "no-throw-literal"                : 1,
      "quotes"                          : [1, "single"],
      "no-useless-constructor"          : 1,
      "react/no-multi-comp"             : 1,
      "react/prop-types"                : 1,
      "react/display-name"              : 1,
      "react/wrap-multilines"           : 1,
      "react/self-closing-comp"         : 1,
      "react/no-did-mount-set-state"    : 1,
      "react/no-did-update-set-state"   : 1,
      "react/jsx-uses-react"            : 1,
      "react/jsx-uses-vars"             : 2,
      "semi"                            : 2,
      "arrow-parens"                    : 2,
      "arrow-spacing"                   : 2,
      "constructor-super"               : 2,
      "generator-star-spacing"          : 2,
      "no-class-assign"                 : 2,
      "no-const-assign"                 : 2,
      "no-dupe-class-members"           : 2,
      "no-this-before-super"            : 2,
      "prefer-spread"                   : 2,
      "require-yield"                   : 2,
      "prefer-arrow-callback"           : 2,
      "prefer-template"                 : 2,
      "no-var"                          : 2,
      "object-shorthand"                : 2,
      "no-unused-vars"                  : [2, {"vars" : "all", "args" : "after-used"} ],
      "no-undef"                        : 1
    }
}
